@charset "UTF-8";

/* common.css */
/* ��� �������� ���������� ���� */

* {
	margin: 0 auto;
}

/* ��� �������� �����ϴ�  box */
#wrap {
	width: 1280px;
	background-color: #ffffff;
	text-align: center;
	position: relative;
}

/* ��� <img> �ױ� �׵θ� ���� */
img {
	border: 0;
	margin: 0;
}

#footerBox div{
	background-color:#dc0714;
	margin-top:10px;
	padding:20px;
	margin:0;
}

#companySponser div{
	padding:0;
}