@charset "UTF-8";

/* .parent {
	width: 90%;
	margin: 10px auto;
}

.left_area {
	float: left;
	width: 40%;
}

#serviceMenu {
	left: 10%;
	width: 200px;
	height: 800px;
	background: #dc0714;
	padding: 50px;
	padding-top: 20px;
	width: 200px;
}

왼쪽 메뉴 끝
.left_area .right_area_main {
	float: left;
	width: 20%;
}


#FAQ {
	width: 1000px;
	height: 800px;
	background: white;
	padding: 50px;
	padding-top: 20px;
}

#pagenation {
	position: absolute;
	left: 470px;
	top: 220px;
}

#pageBox {
	position: absolute;
	left: 470px;
	top: 260px;
}

#faqTitle {
	position: absolute;
	left: 470px;
	top: 300px;
}

#faqTableHeader {
	position: absolute;
	top: 350px;
	left: 470px;
	width: 800px;
	height: 50px;
	padding: 10px;
	background-color : gray;
}

#Q1 {
	position: absolute;
	top: 80px;
	left: 15px;
	z-index: 10;
	padding-bottom: 0;
	visibility: hidden;
}

#Q2 {
	position: absolute;
	top: 160px;
	left: 15px;
	z-index: 10;
	padding-bottom: 0;
	visibility: hidden;
}

#Q3 {
	position: absolute;
	top: 240px;
	left: 15px;
	z-index: 10;
	padding-bottom: 0;
	visibility: hidden;
}

#Q4 {
	position: absolute;
	top: 320px;
	left: 15px;
	z-index: 10;
	padding-bottom: 0;
	visibility: hidden;
}

#Q5 {
	position: absolute;
	top: 400px;
	left: 15px;
	z-index: 10;
	padding-bottom: 0;
	visibility: hidden;
} */
.section {
	background-color: white;
	height: 100vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.left_area {
	display: flex;
	flex-grow: 1; /* 왼쪽 비율 */
	flex-direction: column;
	flex-wrap: wrap;
	height: 100%;
	/* border: 1px solid green; */
}

.serviceMenu {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 100%;
	width: 60%;
	background: #dc0714;
	/* 	padding: 20px;
	padding-top: 20px; */
}

.navMenu {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	line-height: 70px;
}

.right_area_main {
	display: flex;
	flex-grow: 3; /* 오른쪽 비율 */
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	height: 100%;
	/* border: 1px solid green; */
}

.pagenation {
	flex-basis: 30px;
}

.pageBox {
	flex-basis: 30px;
}

.faqTitle {
	flex-basis: 50px;
}

.faqTableHeader {
	display: flex;
	flex-wrap: wrap;
	flex-basis: 20px;
	box-sizing: border-box;
	width: 100%;
	height: 55px;
	border-top: 3px solid gray;
	border-bottom: 3px solid gray;
	align-items: center;
}

#faqTableHeader {
	top: 10px
}

#faqTaleList {
	display: flex;
	flex-basis: 20px;
	flex-direction: column;
	box-sizing: border-box;
	height: 70px;
	cursor: pointer;
	align-items: center;
}

.Q1 {
	flex-basis: 20px;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.Q2 {
	flex-basis: 20px;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.Q3 {
	flex-basis: 20px;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.Q4 {
	flex-basis: 20px;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.Q5 {
	flex-basis: 20px;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
}

#chatbot {
	position: fixed;
	bottom: 5%;
	right: 10px;
	width: 30%;
	height: 150px;
	width: 150px;
}

img {
	max-width: 100%;
	max-height: 100%;
}

#chatbot:hover {
	opacity: 0.3;
	cursor: pointer;
}

#question1:hover {
	color: red;
	cursor: pointer;
}

#question2:hover {
	color: red;
	cursor: pointer;
}

#question3:hover {
	color: red;
	cursor: pointer;
}

#question4:hover {
	color: red;
	cursor: pointer;
}

#question5:hover {
	color: red;
	cursor: pointer;
}

.content1 {
	display: none;
	border: 2px solid gray;
}

.content2 {
	display: none;
	border: 2px solid gray;
}

.content3 {
	display: none;
	border: 2px solid gray;
}

.content4 {
	display: none;
	border: 2px solid gray;
}

.content5 {
	display: none;
	border: 2px solid gray;
}