@charset "UTF-8";

/* menu.css */



/********** UNI - MAIN MENU ************/
#uni-mainMenuBox {
	width: 1280px;
	height: 70px;
	line-height: 70px;
	background-color: #ffffff; /* white*/
	z-index: 20; /* �ㅽ�щ· �� �� �ㅻ��濡� */
	border-top: solid #cccccc 1px;
	border-bottom: solid #cccccc 1px;
}

#uni-mainMenuBox ul {
	margin: 0;
}

#uni-mainMenuBox li {
	float: left;
	text-align: center;
	width: 13%;
	height: 60px;
	line-height: 60px;
	font-size: lager;
}

#uni-mainMenuBox ul li a {
	text-decoration: none;
	color: black;
	font-size: 14px; /* pt �� �� */
	font-weight: bold;
}

#uni-mainMenuBox ul li a:hover { /* 媛� 硫��� ��紐⑹�� 留��곗�� �щ�몄�� �� */
	color: red; /* 湲����� 鍮④� */
}

/********** SUB MENU ************/
#liverSub {
	margin-left: 10%;
	width: 11%;
	height: 215px;
	background-color: #ffffff; /* white*/
	text-align: center;
	z-index: 10; /* �щ�쇱�대�� �� 諛��� ��濡� ��濡��ㅼ�� ����濡� */
	padding-bottom: 0;
	position: absolute;
	visibility: hidden; /* ���� �� SUB MENU ��紐� �④� */
	border: solid 1px black;
	margin-left: 13%;
}

#manutdSub {
	margin-left: 10%;
	width: 11%;
	height: 215px;
	background-color: #ffffff; /* white*/
	text-align: center;
	z-index: 10; /* �щ�쇱�대�� �� 諛��� ��濡� ��濡��ㅼ�� ����濡� */
	padding-bottom: 0;
	position: absolute;
	visibility: hidden; /* ���� �� SUB MENU ��紐� �④� */
	border: solid 1px black;
	margin-left: 26%
}

#tottSub {
	margin-left: 10%;
	width: 11%;
	height: 215px;
	background-color: #ffffff; /* white*/
	text-align: center;
	z-index: 10; /* �щ�쇱�대�� �� 諛��� ��濡� ��濡��ㅼ�� ����濡� */
	padding-bottom: 0;
	position: absolute;
	visibility: hidden; /* ���� �� SUB MENU ��紐� �④� */
	border: solid 1px black;
	margin-left: 39%
}

#chelseaSub {
	margin-left: 10%;
	width: 11%;
	height: 215px;
	background-color: #ffffff; /* white*/
	text-align: center;
	z-index: 10; /* �щ�쇱�대�� �� 諛��� ��濡� ��濡��ㅼ�� ����濡� */
	padding-bottom: 0;
	position: absolute;
	visibility: hidden; /* ���� �� SUB MENU ��紐� �④� */
	border: solid 1px black;
	margin-left: 52%
}

#mancitySub {
	margin-left: 10%;
	width: 11%;
	height: 215px;
	background-color: #ffffff; /* white*/
	text-align: center;
	z-index: 10; /* �щ�쇱�대�� �� 諛��� ��濡� ��濡��ㅼ�� ����濡� */
	padding-bottom: 0;
	position: absolute;
	visibility: hidden; /* ���� �� SUB MENU ��紐� �④� */
	border: solid 1px black;
	margin-left: 65%
}

#uni_subMenuBox {
	margin-left: 10%;
	width: 1100px;
	height: 140px;
	background-color: #ffffff; /* white*/
	text-align: center;
	z-index: 10; /* �щ�쇱�대�� �� 諛��� ��濡� ��濡��ㅼ�� ����濡� */
	padding-bottom: 0;
	position: absolute;
	visibility: hidden; /* ���� �� SUB MENU ��紐� �④� */
	border: solid 1px black;
}
/* 클래스로 설정되어 있는데 본문 확인해보니 id 명입니다. 아마 이 부분은 실행이 안되었을 것 같은데 
	확인해보시고 삭제하시거나 활용하시면 될 것 같습니다! 사용안되고 있는 클래스 영역 밑에 줄에 주석줄
	표시하겠습니다.
*/

.subMenuItem2 ul {
	background-color: #ffffff;
}

.subMenuItem2 ul li {
	height: 35px;
	line-height: 35px;
}

.subMenuItem2 ul li a {
	display: inline-block;
	color: #333333;
	text-decoration: none;;
}

.subMenuItem2 ul li a:hover {
	background-color: #ffffff;
	text-decoration: underline;
	color: black;
}
/* **************************사용되지 않고 있는 클래스 참조**************************** */
.uni-subMenuItem {
	width: 15%;
	background-color: #ffffff;
	margin-top: 10px;
}

/* 媛� ��釉�硫��� ��紐� ��移� 吏��� */
#subMenuItem1 {
	position: absolute;
	margin-left: 5%;
}

#subMenuItem2 {
	position: absolute;
	margin-left: 20%;
}

#subMenuItem3 {
	position: absolute;
	margin-left: 35%;
}

#subMenuItem4 {
	position: absolute;
	margin-left: 50%;
}

#subMenuItem5 {
	position: absolute;
	margin-left: 65%;
}

#subMenuItem6 {
	position: absolute;
	margin-left: 80%;
}

.uni-subMenuItem ul {
	background-color: #ffffff;
}

.uni-subMenuItem ul li {
	height: 35px;
	line-height: 35px;
}

.uni-subMenuItem ul li a {
	display: inline-block;
	color: #333333;
	text-decoration: none;;
}

.uni-subMenuItem ul li a:hover {
	background-color: #ffffff;
	text-decoration: underline;
	color: black;
}

.searchBox {
	margin-top: 50px;
	margin-bottom: 50px;
	float: left;
}

#searchBox {
	width: 600px;
	height: 40px;
	padding-left: 10px;
	color: gray;
	font-size: 12pt;
}

#searchBoxBtn {
	height: 45px;
	width: 60;
	background-color: white;
	font-family: 怨���;
	border: '1';
}

#searchBoxBtn:hover {
	cursor: pointer;
}