@charset "UTF-8";

/*mapBox.css*/

#clubMap {
	width:1280px;
	height:1000px;
	background-color:#ffffff;
}

#clubList{
	height:1000px;
	padding:0;
	text-align:center;
}


.prdTitle{
	font-size:40px;
	font-family:Fantasy;
	font-weight:bold;
	margin-bottom:20px;
}

#europeMap{
	position:relative;
	width:1280px;
	height:800px;
	box-sizing:border-box;
	
}
#europeMap img:first-child{
	opacity:0.5;
}

#ukMap{
	position:absolute;
	left:5px;
	top:187px;
	opacity:0;
}

#ukMap:hover {
	opacity:1;
}

#itaMap{
	position:absolute;
	bottom:40px;
	left:450px;
	opacity:0;
}

#itaMap:hover {
	opacity:1;
}