@charset "UTF-8";

/*saleMecu.css*/

#sale_content{
	box-sizing:border-box;
}

#salePrdBox {
	position:relative;
	width:80%;
	height:1200px;
	background:white;
	box-sizing:border-box;
}

.prdTitle{
	font-size:40px;
	font-family:Fantasy;
	font-weight:bold;
	margin-bottom:20px;
}

#salePrdBox .product {
	display:inline-block;	/* ������ ������ ��ġ */
	width:100%;
}

#salePrdBox .product div{
	position:relative;
	display:inline-block;	/* ������ ������ ��ġ */
	width:303px;
	height:500px;
	margin:10px;
}


.saleImage {
	width:100%;
	height:100%;
	border:solid 1px #cccccc;
	left:0;
}

.hotDealImg {
	position:absolute;
	width:60px;
	height:60px;
	right:0;
	bottom:0;
	opacity:0.5;
}

.saleImage:hover {
	opacity:0.7;
	border:solid 1px red; 
}