@charset "EUC-KR";

/*mapBox.css*/

#clubMap {
	width:1280px;
	heiht:1000px;
	background-color:#ffffff;
}

#clubList{
	padding:40px;
	text-align:center;
}

#clubList #clubcountry {
	float:left;
	position:absolute;
	margin:0;
	width:20%;
	background-color:#dc0714;
}

#clubList #clubcountry .countryLogo{
	display:block;
	width:100px;
	height:150px;
}
#clubList #clubcountry div a img{
	display:block;
	width:100px;
	height:100px;
}

#clubList #europeMap{
	display:inline-block;
	position:absolute;
	align:center;
	width:40%;
}

#clubList #europeMap img {
	position:absolute;
	width:500px;
	height:90%;
}

#clubList #clubLogo{
	float:right;
	position:absolute;
	width:20%;
}

#clubList #clubLogo div{
	display:block;
	width:150px;
	height:150px;
}
#clubList #clubLogo div a img{
  display: block;
  max-width:150px;
  max-height:200px;
  width: auto;
  height: auto;
}