@charset "UTF-8";

/* M_slideShow.css */

#slideShow {
	position:relative;
	background-color:#ffffff;
	height:520px;
	line-height:520px;
	border-bottom:solid #cccccc 1px;
}

#slideShowBox {
	width:1280px;
	height:480px;
	text-align:center;
	overflow:hidden;
}

#slidePanel {
	position:relative;
	width:6400px;
	height:480px;
}

.slideShowimg {
	float:left;
	width:1280px;
	height:480px;
}

/*  prev/next ��ư */
#prevpuaseNextButtonBox {
	position:relative;
	z-index:10;
}
#prevButton {position:absolute; top:420px; right:6.5%; opacity:0.8; cursor:pointer;}
#pauseButton {position:absolute; top:420px; right:3.5%; opacity:0.8; cursor:pointer;}
#nextButton {position:absolute; top:420px; right:0.5%; opacity:0.8; cursor:pointer;}

#prevButton:hover {opacity:1;}
#pauseButton:hover {opacity:1;}
#nextButton:hover {opacity:1;}
/* 
control ��ư
#controlPanel { margin:0 auto; width:160px;}
#controlPanel img { float:left; margin:10px;}
 */